#all {
    display: flex;
    flex-direction: column;
}
#header {
    width: 100%;
    background-color: lightgray;
    height: 20%;
}
h1 {
    text-align: center;
    font-size: 1em;
}
#topheader {
    height: 10px;
}
#box {
    width: 3em;
    height: 3em;
}
#menuImg {
    width: 3em;
    height: 3em;
}
#menu {
    width: 0px;
    background-color: grey;
}
#mainPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 500px;
    width: 100%;
}
#optionOne {
    display: none;
    position: absolute;
}
#optionTwo {
    display: none;
    position: absolute;
}
#form {
    width: 640px;
    height: 436;
}
body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
#description {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    
}
#centerDesc {

}
h3 {
    padding-right: 200px;
}