#all {

    
    height: 1200px;
    width: 100%;
}
#header {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: lightgray;
    height: 50px;
}
#headerText {
    position: absolute;
    top: 0px;
    left: 10%;
    width: 80%;
}
h1 {
    text-align: center;
    font-size: 1em;
}
#topheader {
    height: 10px;
}
#box {
    width: 3em;
    height: 3em;
}
#menuImg {
    width: 3em;
    height: 3em;
}
#menuButton {
    width: 10%;
}

#menu {
    position: relative;
    top: 0px;
    left: -200px;
    width: 200px;
    height: 1000px;
    background-color: grey;
    z-index: 99;
}
#mainPage {
    
    
    position: relative;
    left: 0px;
    top: -20px;
    margin-bottom: 100px;
    height: 1300px;
    width: 100%;
}
#optionOne {
    
    position: relative;
    top: 75px;
    left: 50px;

}
#optionTwo {
    top: 100px;
    left: 50px;
   
    position: relative;
}
.maintext {
    margin-left: 2em;
    margin-right: 2em;
}

#form {
    width: 640px;
    height: 436px;
    
    
}
#form2 {
    width: 800px;
    height: 436px;
    
    
}
body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;
}
#description {
    position: absolute;
    top: 0px;
    left: 0px;
    
    
    
    
}
#descriptionCont {
   
    align-content: center;
    align-items: center;
    
}
#centerDesc {
    width: 100%;
    
}
h3 {

}
h5 {
    text-align: center;
}
p {
    text-align: center;
}
#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 100px;
    width: 100%;
    background-color: gray;
}